<div id="hsh-home" class="row">
  <%= image_tag 'http://s1.1zoom.me/b5050/701/Houses_Design_Mansion_494577_1920x1080.jpg', class: 'fit' %>
</div>
<div id="hsh-home-content" class="container">

  <!-- Page Content -->
<% if @hotsales.size != 0 %>
  <div class="row">
    <h1 class="my-4">Hotsales
      <small>Disponibles</small>
    </h1>

    <div class="row">
      <% @hotsales.each do |hotsale| %>
        <% if hotsale.residence.available? %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <span><%= image_tag hotsale.residence.image_url, class:"fit" %></span>
            <div class="card-body">
              <h4 class="card-title">
                <span><%= link_to hotsale.residence.name, hotsale %> $<%= hotsale.price %></span>
              </h4>
              <p class="card-text"> <%= hotsale.residence.desc %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <!-- /.row -->

    <!-- Pagination -->
    <!-- <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul> -->
  </div>
<% end %>

  <div class="row">
    <h1 class="my-4">Residencias
      <small>Disponibles</small>
    </h1>
    <% residences = Residence.all %>

    <% if residences.size == 0 %>
      <p> <td colspan="3"> No hay residencias </td> </p>
    <% end %>


    <div class="row">
      <% residences.each do |residence| %>
        <% if residence.available? %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <span><%= image_tag residence.image_url, class:"fit" %></span>
            <div class="card-body">
              <h4 class="card-title">
                <span><%= residence.name %></span>
              </h4>
              <p class="card-text"> <%= residence.desc %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <!-- /.row -->

    <!-- Pagination -->
    <!-- <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul> -->
  </div>


</div>
