<!DOCTYPE html>
<html lang="es">
  

    <head>
      <title>Home Switch Home</title>
    </head>

    <body class="backimage">

      <header><!-- Encabezado con logo --></header>
      <ul id="hsh-nav">
        <li><%= link_to "Ver Residencias", residences_path, class: 'btn btn-primary-outline'%></li>
        <li><%= link_to "Ver Subastas", auctions_path, class: 'btn btn-primary-outline'%></li>
        <li><%= link_to "Ver Usuarios", users_path, class: 'btn btn-primary-outline'%></li>
        <li><%= link_to "Registrarse", new_user_path, class: 'btn btn-primary-outline'%></li>
        <li><%= link_to "Iniciar Sesion", class: 'btn btn-primary-outline'%></li>
      </ul>
      <footer><!-- Pie de pagina con preguntas frecuentes --></footer>

    </body>

  </div>

</html>
