<!DOCTYPE html>
<html lang="es">
  

    <head>
      <title>Home Switch Home</title>
    </head>

    <body class="backimage">

      
      <ul id="hsh-nav">
        <% if current_user.present? && current_user.isAdmin?%> <!--Solo muestro estos botones a los administradores -->
          <li><%= link_to "Ver Residencias", residences_path, class: 'btn btn-primary-outline'%></li>
          <li><%= link_to "Ver Subastas", auctions_path, class: 'btn btn-primary-outline'%></li>
        <li><%= link_to "Ver Usuarios", users_path, class: 'btn btn-primary-outline'%></li>
        <% end %>

        <% if user_signed_in? %>
            <li><%= link_to current_user.email, current_user, class: 'btn btn-primary-outline'%></li>
            <li><%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: 'btn btn-primary-outline'%></li>
        <% else%>
          <li><%= link_to "Iniciar Sesion", new_user_session_path, class: 'btn btn-primary-outline'%></li>
          <li><%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-primary-outline'%></li>
        <% end %>

      </ul>
      

    </body>

  </div>

</html>
