<div class="centered" align="center">
  <h2>Registrarse</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

     <div class="row">
      <%= f.label :name, 'Nombre de usuario' %>
      <%= f.text_field :userName, required: true, class: 'form-control' %>
    </div>
 
    <div class="row">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, required: true, class: 'form-control' %>
    </div>

    <div class="row">
      <%= f.label :Contraseña %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="row">
      <%= f.label :Reingrese_La_Contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="row">
      <%= f.label :creditos, 'Creditos' %>
      <%= f.number_field :credits, :value => 2, readonly: true, class: 'form-control' %> <!-- NO SE PUEDE EDITAR ESTE CAMPO-->
    </div>

    <div style="padding-top:20px">
      <%= f.submit "Registrarse", class: 'btn btn btn-success' %>
    </div>
    <p style="padding-top:10px"> ó </p>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
