<div class="container">
  <%= form_for @auction do |f| %>

  
  <h2> Para la residencia "<%= @res.name %>"</h2>
  <%= f.hidden_field :residence_id, value: params[:id] %>
  <h2> Para la semana de reserva sea desde <%= (Date.commercial(@disp.year, @disp.week)).strftime("%d/%m/%Y") %> hasta el <%= (Date.commercial(@disp.year, @disp.week) + 6).strftime("%d/%m/%Y") %> </h2>
  <%= f.hidden_field :availability_id, value: params[:aid] %>
  <h2> La fecha de inicio de subasta sera para la fecha del <%= (Date.commercial(@disp.year, @disp.week-2)).strftime("%d/%m/%Y") %>, y finalizara en la fecha del <%= (Date.commercial(@disp.year, @disp.week-2) + 3).strftime("%d/%m/%Y") %> </h2>
  <%= f.hidden_field :dateStart, value: (Date.commercial(@disp.year, @disp.week-2)) %>
  <div class="form_group">
    <%= f.label :"Puja base:" %>
    <%= f.number_field :maxbid, required: true , min: 0, class: 'form-control' %>
  </div>
  <br>

  <%= link_to "Volver", auctions_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  <% end %>

</div>
