<div class="container">

  <%= form_for @auction do |f| %>

  <div class="row">
    <%= "Subir la puja" %>
    <%= number_field_tag :addtobid, {required: true }, {min: 0, class: 'form-control'} %>

  </div>

  <br>
  <%= link_to "Volver", :back, class: 'btn btn-secondary' %>
  <% if  current_user.present? && !current_user.isAdmin? && current_user.credits > 0%>
  	<%= f.submit 'Hacer puja', class: 'btn btn-primary' %>
  <% end %>
<% end %>

</div>
