<div class="container">

  <%= form_for @auction do |f| %>

  <div class="row">
    <%= "Subir la puja" %>
    <%= number_field_tag :addtobid, {required: true }, {min: 0, class: 'form-control'} %>

  </div>

  <br>
  <%= link_to "Volver", @auction, class: 'btn btn-secondary' %>
  <%= f.submit 'Hacer puja', class: 'btn btn-primary' %>
<% end %>

</div>
