<h1> Listado de Subastas </h1>  <!-- TABLA DE SUBASTAS-->

<%= link_to "Crear Subasta", new_auction_path ,class: 'btn btn-info'%>

<table class="table">

	<tr>
		<th> Id </th>
    <th> Puja maxima </th>
    <th> Finalizar </th>
	</tr>

	<% auctions = Auction.all %>
	<% auctions.each do |auction| %>
		<tr>
			<td> <%= link_to auction.id, auction %> </td>
      		<td> <%= auction.maxbid %> </td>
			<td><%= link_to "Finalizar", auction, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Realmente desea finalizar la subasta?'} %></td>
		</tr>
	<% end %>
	<td> <%= link_to "Volver", root_path, class: 'btn btn-secondary' %> </td>
	<% if auctions.size == 0 %>
		<tr> <td colspan="3"> No hay subastas </td> </tr>
	<% end %>

</table>
