<div class="centered">
  <h1> Subasta nยบ<%= @auction.id %> </h1> <!--DESCRIPCION DE UNA SUBASTA-->
  <p> Precio actual: $<%= @auction.maxbid %>  </p>
  <p> Fecha de inicio de la subasta: <%= @auction.dateStart.strftime("%d/%m/%Y") %>  </p>
  <p> Fecha de fin de la subasta: <%= @auction.dateEnd.strftime("%d/%m/%Y") %>  </p>


  <%= link_to "Detalle de #{@auction.residence.name}", { :controller => 'residences', :action =>'show', :id =>@auction.residence_id}, class: 'btn btn-primary' %>
  </br>
  </br>
  <%= link_to "Volver", auctions_path, class: 'btn btn-secondary' %>
  <%= link_to "Ingresar", enterBid_path(:id => @auction.id), class: 'btn btn-secondary' %>

</div>
