<div class="container">
  <%= form_for @user do |f| %>

  <div class="row">
    <%= f.label :name, 'Nombre de usuario' %>
    <%= f.text_field :userName, required: true, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :dir, 'Email' %>
    <%= f.email_field :email, required: true, class: 'form-control' %>
  </div>

  <br>
    <%= link_to "Volver", residences_path, class: 'btn btn-secondary' %>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>

  <% end %>

</div>
