<div class="hsh-window">
	<h1> Listado de Administradores </h1>  <!-- TABLA DE ADMINS-->
	<br>
	<p> <%= link_to "Crear Administrador", admins_new_path ,class: 'btn btn-info' %> </p>

	<table class="table">
		<tr>
			<th> Nombre de Usuario </th>
			<th> Email </th>
		</tr>
			<% admins = User.admins %>
			<% admins.each do |admin| %>
					<tr>
						<td> <%= link_to admin.userName, user_path(admin.id) %> </td>
						<td> <%= admin.email %> </td>
						<td> <%= link_to "Editar", edit_user_path(admin.id), class: 'btn btn-info btn-sm'%> </td>
			      <td><%= link_to "Borrar", "/admins/#{admin.id}/destroy",  class: 'btn btn-danger btn-sm', data: { confirm: 'Realmente desea borrar este administrador?'}%></td>
					</tr>
				<% end %>

			<% if admins.size == 0 %>
				<tr> <td colspan="3"> No hay admins </td> </tr>
			<% end %>
	</table>
		<p> <%= link_to "Volver a pagina de inicio", root_path, class: 'btn btn-secondary' %> </p>
</div>
