<div class="centered">
	<h1> Listado de Usuarios </h1>  <!-- TABLA DE RESIDENCIAS-->
	<br>
	<table class="table">

		<tr>
			<th> Nombre </th>
			<th> Email </th>
			<th> Contrasena </th>
			<th> Creditos </th>
		</tr>

		<% users = User.all %>
		<% users.each do |user| %>
			<tr>
				<td> <%= link_to user.userName, user %> </td>
				<td> <%= user.email %> </td>
				<td> <%= user.password %> </td>
				<td> <%= user.credits %> </td>
				<td><%= link_to "Edit", edit_user_path(user), class: 'btn btn-dark btn-sm'%></td>
	      		<td><%= link_to "Borrar", user, method: :delete,  class: 'btn btn-danger btn-sm', data: { confirm: 'Realmente desea borrar este usuario?'}%></td>
			</tr>
		<% end %>

		<% if users.size == 0 %>
			<tr> <td colspan="3"> No hay usuarios </td> </tr>
		<% end %>

	</table>
		<p> <%= link_to "Volver", root_path, class: 'btn btn-secondary' %> </p>
</div>
