<div class="centered">
  <div>

  <% if @user.isAdmin? %> <!--SI SOY USUARIO VEO ESTO-->
    <p> Nombre de Administrador: <%= @user.userName %> </p>
  <%else%>
    <p> Nombre de Usuario: <%= @user.userName %> </p>
    <p> Creditos: <%= @user.credits %> </p>
    <p> Usuario Premium: <%= @user.isPremium %> </p>

    <!--Revisa si un usuario es premium o no dependiendo de condiciones para mostrar el boton correspondiente-->
    <% if !current_user.isAdmin? %> <!--Pregnta si es un usuario comun-->
      <% if current_user.isPremium == "no" %> <!--Si lo es, pregunta si solicito ser premium-->
          <tr><%= link_to "Pasar a ser premium", be_premium_user_path, class: 'btn btn-info' %></tr>
      <% end %>
    <% else %> <!--Si no es asi, entonces es un administrador-->
      <% if @user.isPremium == "solicitado" %> <!--Revisa si el usuario que esta mirando el administrador solicito ser premium-->
        <tr><%= link_to "Habilitar usuario a ser premium", enable_premium_user_path, class: 'btn btn-info' %></tr>
      <% else %> 
        <% if @user.isPremium == "si" %> <!--Si no entro en el anterior if, pregunta si ya es un usuario premium-->
          <tr><%= link_to "Desabilitar usuario de condicion premium", disable_premium_user_path, class: 'btn btn-danger' %></tr>
        <% end %> 
      <% end %>
    <% end %>

    <% if current_user.present? &&  !current_user.isAdmin? %>
    <!--TABLA DE SUBASTAS-->
    <div style="padding-top:70px">
      <h2>Subastas de este usuario:</h2>
      <table class="table">
        <tr>
          <th> Nombre de la Residencia </th>
          <th> Precio </th>
        </tr>
        <% @auctions.each do |auction| %>
          <tr>
            <!--<td> <%= auction.nombre_de_la_residencia %> </td>-->
            <td> <%= auction.maxbid %> </td>
            <td> <%= link_to "Ingresar", auction, class: 'btn btn-secondary' %> </td>
          </tr>
        <%end%>
      </table>
    </div>
    <%end%>
  <% end %>
  <td><%= link_to "Volver", :back, class: 'btn btn-secondary' %></td>
  <td><%= link_to "Editar perfil", edit_user_path(@user), class: 'btn btn-dark '%></td>

</div>
