<div class="hsh-window">
  <div>
  <h1>Perfil</h1>
  <% if @user.isAdmin? %> <!--SI SOY USUARIO VEO ESTO-->
<div class="profile">
  <table class="profile-table">
    <tr>
      <td class="bold"> Nombre </td>
      <td class="profile-field"><%= @user.userName %></td>
    </tr>
    <tr>
      <td class="bold"> Email </td>
      <td class="profile-field"><%= @user.email %></td>
    </tr>
    <tr>
      <td class="bold"> Creado el </td>
      <td class="profile-field"><%= @user.created_at %></td>
    </tr>
    <tr>
      <td class="bold"> Editado el </td>
      <td class="profile-field"><%= @user.updated_at %></td>
    </tr>
    <tr>
      <td class="bold"> Administrador </td>
      <td class="profile-field"> SI </td>
    </tr>
  </table>
</div>
  <%else%>
    <p> Nombre de Usuario: <%= @user.userName %> </p>
    <p> Creditos: <%= @user.credits %> </p>
    <p> Usuario Premium: <%= @user.isPremium %> </p>

    <!--Revisa si un usuario es premium o no dependiendo de condiciones para mostrar el boton correspondiente-->
    <% if !current_user.isAdmin? %> <!--Pregnta si es un usuario comun-->
      <% if current_user.isPremium == "no" %> <!--Si lo es, pregunta si solicito ser premium-->
          <tr><%= link_to "Pasar a ser premium", be_premium_user_path, class: 'btn btn-info' %></tr>
      <% end %>
    <% else %> <!--Si no es asi, entonces es un administrador-->
      <% if @user.isPremium == "solicitado" %> <!--Revisa si el usuario que esta mirando el administrador solicito ser premium-->
        <tr><%= link_to "Habilitar usuario a ser premium", enable_premium_user_path, class: 'btn btn-info' %></tr>
      <% else %>
        <% if @user.isPremium == "si" %> <!--Si no entro en el anterior if, pregunta si ya es un usuario premium-->
          <tr><%= link_to "Desabilitar usuario de condicion premium", disable_premium_user_path, class: 'btn btn-danger' %></tr>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user.present? &&  !current_user.isAdmin? %>
    <!--TABLA DE SUBASTAS-->
    <div style="padding-top:70px">
      <h2>Subastas que vas ganando:</h2>
      <table class="table">
        <tr>
          <th></th>
          <th> Nombre de la Residencia </th>
          <th> Precio Actual </th>
        </tr>
        <% auctions = Auction.all %>
        <% auctions.each do |auction| %>
          <% if auction.user_id == @user.id%>
            <tr>
              <td><%= image_tag auction.residence.image_url, height: '100', width: '200' %></td>
              <td> <%= auction.residence.name %> </td>
              <td> <%= auction.maxbid %> </td>
              <td> <%= link_to "Ver", auction, class: 'btn btn-secondary' %> </td>
            </tr>
          <%end%>
        <%end%>
      </table>
    </div>
    <%end%>
  <% end %>

  <td><%= link_to "Volver a pagina de inicio", root_path, class: 'btn btn-secondary' %></td>
  <td><%= link_to "Editar perfil", edit_user_path(@user), class: 'btn btn-dark '%></td>
  
  <% if current_user.present? &&  current_user.isAdmin? %>
    <td><%= link_to "Lista de Administradores", admins_path, class: 'btn btn-warning' %></td>
  <% end %>

</div>
