<div class="centered">
  <h1> Usuario: <%= @user.email %> </h1> <!--DESCRIPCION DE UN USUARIO-->

  <p> nombre: <%= @user.userName %> </p>
  <p> password: <%= @user.password %> </p>
  <p> creditos: <%= @user.credits %> </p>
  <p> Es usted premium: <%= @user.isPremium %> </p>
  <% if @user.isPremium == "no" %>
        <tr><%= link_to "Pasar a ser premium", be_premium_user_path, class: 'btn btn-info' %></tr>
      <% end %>
  <% if @user.isPremium == "solicitado" %>
        <tr><%= link_to "Habilitar usuario a ser premium", enable_premium_user_path, class: 'btn btn-info' %></tr>
    <% end %>
  <% if @user.isPremium == "si" %>
        <tr><%= link_to "Desabilitar usuario de condicion premium", disable_premium_user_path, class: 'btn btn-info' %></tr>
      <% end %>
  <h2>Subastas de este usuario:</h2>
  <table class="table">
    <tr>
      <th> Nombre de la Residencia </th>
      <th> Precio </th>
    </tr>
  	<% @auctions.each do |auction| %>
    <tr>
      <!--<td> <%= auction.nombre_de_la_residencia %> </td>-->
      <td> <%= auction.maxbid %> </td>
      <td> <%= link_to "Ingresar", auction, class: 'btn btn-secondary' %> </td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Volver", root_path, class: 'btn btn-secondary' %>
</div>
