<div class="container">

<%= form_for @reservation do |f| %>

<h2> Usted va a reservar la Residencia: <%= @res.name %></h2>
  <%= f.hidden_field :residence_id, value: params[:id] %>
  <h2> Para la semana del <%= Date.commercial(@disp.year, @disp.week) %> al <%= Date.commercial(@disp.year, @disp.week) + 6 %> </h2>
  <%= f.hidden_field :year, value: Date.commercial(@disp.year, @disp.week) %>
  <%= f.hidden_field :week, value: Date.commercial(@disp.week) %>
  <br>
  <h2> El precio de adjudicacion es de $9999 (Este precio es solo para pruebas.)</h2>
  <%= f.hidden_field :price, value: 9999 %>

  <%= link_to "Volver al listado de residencias", residences_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Confirmar Reserva', class: 'btn btn-primary', data: { confirm: 'Confirmar Compra?'} %>
  <% end %>

</div>
