<div class="container">

<%= form_for @reservation do |f| %>

<h2> Usted va a reservar la Residencia: <%= @res.name %></h2>
  <%= f.hidden_field :residence_id, value: params[:id] %>
  
  <h2> Para la semana del <%= Date.commercial(@disp.year, @disp.week).strftime("%d/%m/%Y") %> al <%= (Date.commercial(@disp.year, @disp.week) + 6).strftime("%d/%m/%Y")  %> </h2>
  <%= f.hidden_field :year, value: @disp.year %>
  <%= f.hidden_field :week, value: @disp.week %>
  <%= hidden_field_tag :availability_id, @disp.id %>
  <br>
  <!-- No cobra nada el reservar una residencia si es premium. Solo controla que tenga creditos -->
  <%= f.hidden_field :price, value: 0 %>

  <%= link_to "Volver al listado de residencias", residences_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Confirmar Reserva', class: 'btn btn-primary', data: { confirm: 'Confirmar Compra?'} %>
  <% end %>

</div>
