<div class="hsh-window">
	<div class="container">
        <div class="row br10">
            <h1>Reserva N°<%= @reservation.id %></h1>
        </div>
        <div class="row br10">
            <h4>Para la semana del <%= Date.commercial(@reservation.year, @reservation.week).strftime("%d/%m/%Y") %> hasta el <%= (Date.commercial(@reservation.year, @reservation.week) +6 ).strftime("%d/%m/%Y") %></h4>
        </div>
    	<!-- IMAGENES DE RESIDENCIA -->
        <div class="row residence-images">
            <div class="container">

                <div class="row br10">
                    <div class="col">
                        <% if @reservation.residence.image_url?  %>
                            <%= image_tag @reservation.residence.image_url , class: 'img-fluid residence-pic fit' %>
                        <% else %>
                            <%= image_tag 'no_disponible.jpg', class: 'img-fluid' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <!-- INFORMACION DE RESIDENCIA -->
        <div class="row residence-content">
            <div class="container">
                <!-- DESCRIPCION -->
                <div class="row br30">
                    <div class="col">
                        <h1><%= @reservation.residence.name %></h1> 
                        <h6><%= image_tag 'ubication.png', height: '30', width: '20' %> <%= @reservation.residence.dir %>, <%= @reservation.residence.locality %>, <%= @reservation.residence.province %>, <%= @reservation.residence.country %></h6>
                        <h5>Descripcion</h5>
                        <p><%= @reservation.residence.desc %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
    	   <% if  @reservation.price =! 0 %>
    		  <h3>Aun no se registro su pago para esta reserva. El precio a pagar es <%= @reservation.price %></h3>
            <% end %>
        </div>
        <div class="row btn-gap">
            <% if current_user.present?  && current_user.id == @reservation.user_id%>
                <p class="br30"><%= link_to "Volver a su perfil", current_user, class: 'btn btn-secondary' %></p>
                <p class="br30"><%= link_to "Cancelar su reserva", @reservation, method: :delete,  class: 'btn btn-danger', data: { confirm: "Realmente desea cancelar su reserva?"}%></p>
            <% end %>
        </div>
	</div>
</div>
