<div class="hsh-window" align="center">

  <h2>Iniciar Sesion</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'%>
    </div>

    <div class="row">
      <%= f.label :contraseña %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <!-- PARA LA CASILLA DE RECORDAR, PERO NO ME FUNCIONA
    <% if devise_mapping.rememberable? -%>
      <div class="row" style="padding-top:10px">
        <%= f.check_box :remember_me %>
        <%= f.label :recordarme %>
      </div>
    <% end -%>
    -->
    <div class="actions" style="padding-top:10px">
      <%= f.submit "Iniciar Sesion", class: 'btn btn btn-secondary' %>
    </div>

    <div style="padding-top:10px">
      <%= render "devise/shared/links" %>
    </div>

  <% end %>
</div>
