<div class="container">
  <%= form_for @residence do |f| %>

  <div class="row">
    <%= f.label :name, 'Residencia' %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :dir %>
    <%= f.text_field :dir, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :desc %>
    <%= f.text_area :desc, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :available %>
    <%= f.text_field :available, class: 'form-control' %>
  </div>
    <%= link_to "Volver", residences_path, class: 'btn btn-secondary' %>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>

  <% end %>

</div>
