<div class="container">
  <%= form_for @residence do |f| %>

  <div class="row">
    <%= f.label :name, 'Nombre de residencia' %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :dir, 'Direccion' %>
    <%= f.text_field :dir, required: true, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :desc, 'Descripcion' %>
    <%= f.text_area :desc, required: true, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :available, 'Disponibilidad' %>
    <%= f.select :available, [['Disponible', true], ['No disponible', false]], {}, {class: "form-control"} %>

  </div>

  <div class="row">
    <%= f.label :image_url, 'Ingrese el nombre de la foto de la residencia:' %>
    <%= f.text_area :image_url, required: true, class: 'form-control' %>
  </div>

  <br>
    <%= link_to "Volver", residences_path, class: 'btn btn-secondary' %>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>

  <% end %>

</div>
