<div class="centered">
	<h1> Listado de Residencias </h1>  <!-- TABLA DE RESIDENCIAS-->
	<br>
	<%= link_to "Crear Residencia", new_residence_path ,class: 'btn btn-info'%>
	<br><br>
	<table class="table">

		<tr>
			<th>  </th>
			<th> Nombre </th>
			<th> Descripción </th>
			<th> Direccion </th>
			<th> Localidad </th>
			<th>  </th>
			<th>  </th>
		</tr>

		<% residences = Residence.all %>
		<% residences.each do |residence| %>
			<% if residence.available? %> <!-- Solo muestro las residencias disponibles-->
				<tr>
					<td><%= image_tag residence.image_url, height: '100', width: '200' %></td>
					<td> <%= link_to residence.name, residence, class: 'btn btn-link btn-sm'%> </td>
					<td> <%= truncate(residence.desc, length: 15, seperator: ' ') %> </td>
					<td> <%= residence.dir %> </td>
					<td> <%= "#{residence.country}, #{residence.province}, #{residence.locality}" %> </td>
					<% if current_user.isAdmin? %> <!-- Funciones exclusivas para administradores -->
						<td><%= link_to "Editar", edit_residence_path(residence), class: 'btn btn-dark btn-sm'%></td>
						<% if Auction.exists?(residence_id: residence.id) %> <!-- Se fija si en el listado hay residencias que se encuentran en subasta -->
							<td><%= link_to "En subasta", residence, method: :delete,  class: 'btn btn-danger btn-sm disabled', data: { confirm: 'Realmente desea borrar la residencia?'}%></td>
								
						<% else %>
							<td><%= link_to "Borrar", residence, method: :delete,  class: 'btn btn-danger btn-sm', data: { confirm: 'Realmente desea borrar la residencia?'}%></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		<% end %>
		<% if residences.size == 0 %>
			<tr> <td colspan="3"> No hay residencias </td> </tr>
		<% end %>

	</table>
	<br>
	<p> <%= link_to "Volver a pagina de inicio", root_path, class: 'btn btn-secondary' %> </p>
</div>
