<h1> Listado de Residencias </h1>  <!-- TABLA DE RESIDENCIAS-->

<%= link_to "Crear Residencia", new_residence_path ,class: 'btn btn-info'%>

<table class="table">

	<tr>
		<th> Nombre </th>
		<th> Descripción </th>
		<th> Localidad </th>
		<th> Disponible </th>
	</tr>

	<% residences = Residence.all %>
	<% residences.each do |residence| %>
		<tr>
			<td> <%= link_to residence.name, residence %> </td>
			<td> <%= truncate(residence.desc, length: 15, seperator: ' ') %> </td>
			<td> <%= residence.dir %> </td>
			<td> <%= residence.available %> </td>
			<td><%= link_to "Edit", edit_residence_path(:id) %></td>
			<td><%= link_to "Borrar", residence_path(residence), method: :delete, data: { confirm: 'Borrar esta residencia?'} %></td>
		</tr>
	<% end %>

	<% if residences.size == 0 %>
		<tr> <td colspan="3"> No hay residencias </td> </tr>
	<% end %>

</table>
