<div class="centered">
  <h1> <%= @residence.name %> </h1> <!--DESCRIPCION DE UNA RESIDENCIA-->
  <br>
  <h6><%= image_tag 'ubication.png', height: '30', width: '20' %> <%= @residence.dir %>, <%= @residence.locality %>, <%= @residence.province %>, <%= @residence.country %></h6>
  <div>
  <!--Revisa si la residencia tiene una foto. Si no, mostrara una imagen de no disponible-->
  <% if @residence.image_url? %> <!-- && Utils.image_exists?(@residence.image_url) LO BORRE PORQUE NO FUNCIONA-->
    <%= image_tag @residence.image_url %>
  <% else %>
    <%= image_tag 'no_disponible.jpg' %>
  <% end %>
  </div>

  <br><br>
  <h5>Descripcion</h5>
  <p><%= @residence.desc %></p>
  <br><br>
  <h2>Subastas de esta residencia:</h2>
  <table class="table">
    <tr>
      <th> Precio Actual</th>
    </tr>
  	<% @auctions.each do |auction| %>
    <tr>
      <td> <%= auction.maxbid %> </td>
      <td> <%= link_to "Ingresar", enterBid_path(:id => auction.id), class: 'btn btn-secondary' %> </td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Volver al listado de residencias", residences_path, class: 'btn btn-secondary' %>
</div>
