<h1> <%= @residence.name %> </h1> <!--DESCRIPCION DE UNA RESIDENCIA-->
<p> <%= @residence.desc %> </p>
<h2>Subastas de esta residencia:</h2>
<table class="table">
  <tr>
    <th> Id </th>
    <th> Precio </th>
  </tr>
	<% @auctions.each do |auction| %>
  <tr>
    <td> <%= link_to auction.id, auction %> </td>
    <td> <%= auction.maxbid %> </td>
  </tr>
  <% end %>
</table>
<%= link_to "Volver", residences_path, class: 'btn btn-secondary' %>
