<div class="centered">
  <h1> <%= @residence.name %> </h1> <!--DESCRIPCION DE UNA RESIDENCIA-->
  <br>
  <div>
  <!--Revisa si la residencia tiene una foto. Si no, mostrara una imagen de no disponible-->
  <% if @residence.image_url? %> <!-- && Utils.image_exists?(@residence.image_url) LO BORRE PORQUE NO FUNCIONA-->
    <%= image_tag @residence.image_url %>
  <% else %>
    <%= image_tag 'no_disponible.jpg' %>
  <% end %>
  </div>

  <br><br>
  <h3>Pais: <%= @residence.country %></h3>
  <h3>Provincia: <%= @residence.province %></h3>
  <h3>Localidad: <%= @residence.locality %></h3>
  <h3>Direccion: <%= @residence.dir %></h3>
  <h2>Descripcion de la residencia</h2>
  <h3><%= @residence.desc %></h3>
  <br><br>
  <h2>Subastas de esta residencia:</h2>
  <table class="table">
    <tr>
      <th> Precio Actual</th>
    </tr>
  	<% @auctions.each do |auction| %>
    <tr>
      <td> <%= auction.maxbid %> </td>
      <td> <%= link_to "Ingresar", enterBid_path(:id => auction.id), class: 'btn btn-secondary' %> </td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Volver al listado de residencias", residences_path, class: 'btn btn-secondary' %>
</div>
